@tailwind base;
@tailwind components;
@tailwind utilities;






input[type="radio"] {
    display: none;
}

.custom-radio {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    border: 1px solid gray;
    background-color: black;
    cursor: pointer;
    position: relative;
    margin-right: 8px;
    margin-bottom: 20px;
}

.custom-radio:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: translate(-50%, -50%) rotate(45deg);
    display: none;
}

input[type="radio"]:checked+.custom-radio {
    background-color: blue;
    border-color: blue;
}

input[type="radio"]:checked+.custom-radio:after {
    display: block;
}



